<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Seed Starter Manager</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css"
        th:href="@{/css/style.css}">
</head>
<body>

<div>
    <img src="../static/img/stsmlogo.png" alt="STSM logo" title="STSM logo"
        th:src="@{/img/stsmlogo.png}">
</div>

<div class="seedstarterlist" th:unless="${#lists.isEmpty(allSeedStarters)}">
    <h2>List of Seed Starters</h2>

    <table>
        <thead>
        <tr>
            <th>Date Planted</th>
            <th>Covered</th>
            <th>Type</th>
            <th>Features</th>
            <th>Rows</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sb : ${allSeedStarters}">
            <td th:text="${sb.datePlanted}">13/01/2011</td>
            <td th:text="${sb.covered}">yes</td>
            <td th:text="${sb.type}">Wireframe</td>
            <td th:text="${#strings.arrayJoin(sb.features, ', ')}">Electric Heating, Turf</td>
            <td>
                <table>
                    <tbody>
                    <tr th:each="row,rowStat : ${sb.rows}">
                        <td th:text="${rowStat.count}">1</td>
                        <td th:text="${row.variety.name}">Thymus Thmi</td>
                        <td th:text="${row.seedsPerCell}">12</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h2>Add new Seed Starter</h2>

    <form action="#" method="post" th:object="${seedStarter}">
        <fieldset>
            <legend>Seed Starter Data</legend>

            <ul class="errorlist" th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>

            <div>
                <label for="datePlanted">
                    <span>Date planted</span>
                    (<span>YYYY/MM/DD</span>)
                </label>
                <input type="text" th:field="*{datePlanted}" th:errorclass="fieldError">
            </div>
            <div>
                <label th:for="${#ids.next('covered')}">Covered</label>
                <input type="checkbox" th:field="*{covered}">
            </div>
            <div>
                <label for="type">Type</label>
                <select th:field="*{type}">
                    <option th:each="type : ${allTypes}" th:value="${type}" th:text="${type.name}">Wireframe</option>
                </select>
            </div>
            <div>
                <label>Features</label>
                <ul>
                    <li th:each="feat : ${allFeatures}">
                        <input type="checkbox" th:field="*{features}" th:value="${feat}">
                        <label th:for="${#ids.prev('features')}" th:text="${feat.name}">Electric Heating</label>
                    </li>
                    <li th:remove="all">
                        <input id="removed1" name="removed1" type="checkbox"> <label for="removed1">Turf</label>
                    </li>
                </ul>
            </div>

            <div>
                <label>Rows</label>
                <table>
                    <thead>
                    <tr>
                        <th>Row</th>
                        <th>Variety</th>
                        <th>Seeds per cell</th>
                        <th>
                            <button type="submit" name="addRow">Add row</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row,rowStat : *{rows}">
                        <td th:text="${rowStat.count}">1</td>
                        <td>
                            <select th:field="*{rows[__${rowStat.index}__].variety}">
                                <option th:each="var : ${allVarieties}" th:value="${var.id}" th:text="${var.name}">Thymus Thymi</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" th:field="*{rows[__${rowStat.index}__].seedsPerCell}" th:errorclass="fieldError">
                        </td>
                        <td>
                            <button type="submit" name="removeRow" th:value="${rowStat.index}">Remove row</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="submit">
                <button type="submit" name="save">Add Seed Starter</button>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>